<h1>Create a New Chore</h1>

<form action="/chore" method="POST">
  <input type="text" name="chore" placeholder="chore" />
  <input type="text" name="frequency" placeholder="frequency in days" />
  <input type="submit" value="Create">
</form>