<div class="home-button-container">
  <a href="/wheel/{{selectedWheel._id}}">
    <p class="home-button">WHEEL <span class="span-home-button">of</span>
      <br />
      <span class="chores-home-button">CHORES</span></p>
  </a>
</div>

<h1>Update a Chore Wheel</h1>

<form action="/wheel/{{selectedWheel._id}}?_method=PUT" method="POST">
  <input type="text" name="title" placeholder="title" value="{{selectedWheel.title}}" />
  <input type="text" name="description" placeholder="description" value="{{selectedWheel.description}}" />
  <input type="submit" value="Update" />
</form>