{{!-- All Wheels Page/ Home Page --}}
<header>

  <div class="home-button-container">
    <a href="/wheel">
      <p class="home-button">WHEEL <span class="span-home-button">of</span>
        <br />
        <span class="chores-home-button">CHORES</span></p>
    </a>
  </div>
  <div class="page-title">
    <h1>Wheels</h1>
  </div>
</header>


{{#each allWheels}}
<a href="/wheel/{{_id}}">
  <p>{{title}}</p>
</a>
{{/each}}

<a href="/wheel/create">
  <button>Create New Wheel</button>
</a>