{{!-- All Wheels Page/ Home Page --}}
<div class="home-button-container">
  <a href="/wheel">
    <p class="home-button">WHEEL <span class="span-home-button">of</span>
      <br />
      <span class="chores-home-button">CHORES</span></p>
  </a>
</div>

<header>
  <h1>Wheels</h1>
</header>


{{#each allWheels}}
<a href="/wheel/{{_id}}">
  <p>{{title}}</p>
</a>
{{/each}}

<a href="/wheel/create">
  <button>Create New Wheel</button>
</a>