{{!-- All Wheels Page/ Home Page --}}
<header>

  <div class="home-button-container">
    <a href="/wheel">
      <p class="home-button">WHEEL <span class="span-home-button">of</span>
        <br />
        <span class="chores-home-button">CHORES</span></p>
    </a>
  </div>
  <div class="page-title">
    <a href="/wheel/create">
      <h1>+ Wheel</h1>
    </a>
  </div>
</header>
<main>
  <div class="wheel-select-container">
    {{#each allWheels}}
    <a class="wheel-select" href="/wheel/{{_id}}">
      {{!-- <div class="wheel-image-conatiner"> --}}
      <p class="wheel-select-title">{{title}}</p>
      {{!-- </div> --}} </a> {{/each}} </div>
</main>