<header>
  <div class="home-button-container">
    <a href="/wheel/{{wheelId}}">
      <p class="home-button">WHEEL <span class="span-home-button">of</span>
        <br />
        <span class="chores-home-button">CHORES</span></p>
    </a>
  </div>

  <div class="page-title">
    <h1>Create a New Member</h1>
  </div>
</header>

<main>
  <form action="/member/{{wheelId}}" method="POST" class="create-member-form">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="picture" placeholder="picture URL" />
    <input type="text" name="wheelId" placeholder="choreId" value="{{wheelId}}" style="display:none;" />
    <input class="delete" type="submit" value="Create" />
  </form>
</main>