<header>
  <div class="home-button-container">
    <a href="/wheel/{{selectedMember.wheelId}}">
      <p class="home-button">WHEEL <span class="span-home-button">of</span>
        <br />
        <span class="chores-home-button">CHORES</span></p>
    </a>
  </div>

  <div class="page-title">
    <h1>Update a Member</h1>
  </div>
</header>

<main>
  <form action="/member/{{selectedMember._id}}?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="name" value="{{selectedMember.name}}" />
    <input type="text" name="picture" placeholder="picture" value="{{selectedMember.picture}}" />
    <input class="delete" type="submit" value="Update" />
  </form>
</main>